# temporary files
oblig1/__pycache__/
oblig2/__pycache__/
oblig3/__pycache__/
oblig4/__pycache__/
oblig5/__pycache__/
oblig6/__pycache__/
oblig7/__pycache__/
oblig8/__pychace__/

# custom files
# none yet
